<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ComputerTrackingDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <ComputerTrackingDB.Properties.Settings>
      <setting name="DBConnection" serializeAs="String">
        <value />
      </setting>
      <setting name="TestDBConnection" serializeAs="String">
        <value>Data Source=GAMING-PC\SQL;Initial Catalog=ComputerTrackingDB;User ID=sa;Password=password;</value>
      </setting>
      <setting name="LiveDBConnection" serializeAs="String">
        <value>Data Source=GAMING-PC\SQL;Initial Catalog=ComputerTrackingDB;User ID=sa;Password=password;</value>
      </setting>
      <setting name="ConnectionType" serializeAs="String">
        <value>Live</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>2021</value>
      </setting>
      <setting name="CurrentUser" serializeAs="String">
        <value>WWID</value>
      </setting>
      <setting name="TechName" serializeAs="String">
        <value>Tech Name</value>
      </setting>
      <setting name="TechRole" serializeAs="String">
        <value>Tech Role</value>
      </setting>
      <setting name="Station" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Admin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InventoryControl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InventoryMove" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InventoryNew" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoginCompleted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PageSize" serializeAs="String">
        <value>1475, 829</value>
      </setting>
      <setting name="MainSize" serializeAs="String">
        <value>1, 1</value>
      </setting>
      <setting name="TechID" serializeAs="String">
        <value>Unknown</value>
      </setting>
      <setting name="DymoPrinterEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AuditMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AuditModeActivatedBy" serializeAs="String">
        <value>TechName</value>
      </setting>
      <setting name="DBVersion" serializeAs="String">
        <value>Unknown</value>
      </setting>
      <setting name="SearchSerial" serializeAs="String">
        <value>Serial</value>
      </setting>
      <setting name="UserSearch" serializeAs="String">
        <value>Unknown</value>
      </setting>
      <setting name="LocationSearch" serializeAs="String">
        <value>Unknown</value>
      </setting>
      <setting name="FailedDBNoticeSent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdminTechEmailCC" serializeAs="String">
        <value>Unknown</value>
      </setting>
      <setting name="AdminAddTechEmailCC" serializeAs="String">
        <value>Unknown</value>
      </setting>
      <setting name="NewInventoryEmailTo" serializeAs="String">
        <value>Unknown</value>
      </setting>
      <setting name="NewInventoryEmailCC" serializeAs="String">
        <value>Unknown</value>
      </setting>
      <setting name="DevPerms" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Impersonating" serializeAs="String">
        <value>False</value>
      </setting>
    </ComputerTrackingDB.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.3.0" newVersion="4.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>